@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--rosa);
  color: var(--escuro);
}
::selection {
  background-color: var(--rosa);
  color: var(--escuro);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Racing Sans One', cursive;
  font-family: 'Montserrat', sans-serif;
  /* opcional */
  

  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;

  color: var(--escuro);
  background-color: var(--claro);
}

/*Configurar Scrollbar*/
/* ancho */
::-webkit-scrollbar {
  width: 1rem;
}
/* fondo */
::-webkit-scrollbar-track {
  background: var(--claro); 
  border-radius: 2rem;
}
/* barra */
::-webkit-scrollbar-thumb {
  background: var(--rojo); 
  border-radius: 2rem;
}
/* hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--rosa);
}






/*Custom Properties - facil acceso a los colores*/
:root{
    --rosa: #f9d9fc;
    --rojo: #fe2d43;
    --claro: #f5f5f5;
    --escuro:#3d3e3d;
    --blanco: #ffffff;

}





/*HEADER*/
.Header{
    width: 100%;

    padding: 1rem 0;
    
    color: var(--rojo);
    border-radius: 0 0 2rem 2rem;
  
}
.Header-wrapper{
    width: 95%;

    margin: auto; /*para que el bloque este centrado*/

    padding: 1rem;
}



/*NAV*/
.Header-ul{
  width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    gap: 2rem;
}
.Header-a{
  border: solid var(--rojo) .125rem;

  border-radius: 2rem;
  min-width: 6rem; /*para que tengan el mismo ancho*/
  text-align: center;

  padding: .5rem 1rem;
  font-family: 'Racing Sans One', cursive;
  font-size: 1rem;
}

.Header-a:hover{
    background-color: var(--rojo);
    color: var(--rosa);
    transition: all .5s ease;
}

.Header-a:active{
  transform: scale(0.8);
  transition: all .5s ease;
}
.Header-svg{
  display: none;
}


/*MAIN*/

.Seo{
    margin: 6rem 0;
    background-color: var(--claro);
    width: 100%;
}
.Seo-wrapper{
  width: 80%;
  margin: auto;
  max-width: 150rem;/*para que el contenido no se desformate y tenga un ancho máximo.*/
}

/*HERO*/
.Seo-hero{   
    margin: 10rem 0;
}
.Hero-h2{
    color: var(--rojo);
    font-size: 8rem;
    line-height: 6rem;
    font-family: 'Racing Sans One', cursive;
}
.Hero-p{
    padding: 4rem 0 0 0;
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 55%;
}

/*GRID EXPLICANDO EL PROYECTO*/
.Seo-grid{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    grid-template-rows: repeat( 2 , 1fr);

    margin: auto;
    padding: 6rem 0;
    gap: 1rem;
}

.Selectra-h2{
    font-size: 2rem;
    font-family: 'Racing Sans One', cursive;
}
.Selectra-p{
    padding: 1rem 0;
    max-width: 30rem;
}
.Selectra-a{
  border: solid var(--rojo) .125rem;
  color: var(--rojo);

  border-radius: 2rem;
  width: 10rem; 
  text-align: center;
  font-weight: 600;

  padding: .5rem 1rem;
  margin: 2rem 0;
}
.Selectra-a:hover{
  background-color: var(--rojo);
  color: var(--rosa);
  transition: all .5s ease;
}

.Selectra-a:active{
transform: scale(0.8);
transition: all .5s ease;
}

.Seo-foto{
position: relative;
max-width: 31.25rem; /*para la imagen del click que está en absolute no salga fuera*/
}


/*imagen de click rotando*/
.Seo-click{
  width: 100%;
}

.Click-img{
  object-fit: contain ;
  width: 6.25rem;
  animation: clickrotate 5s linear infinite 2s;

  position: absolute;
  top: -1.875rem;
  right: 0;

  z-index: 1; /*para que la imagen este por encima del articulo*/
}


.Seo-img{
    width: 31.25rem;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer; /*para cambiar el cursor al hacer hover*/
}

.Seo-img:hover{
  border: .125rem solid var(--rojo);
}
.Seo-img:active{
  border: .125rem solid var(--rosa);
}

.Seo-spiritu{
    padding-top: 2rem;
}
.Spiritu-h2{
    font-size: 2rem;
    font-family: 'Racing Sans One', cursive;
}
.Spiritu-p{
    padding: 1rem 0;
    max-width: 30rem;
}
.Spiritu-p a{ /*para dar color al enlace dentro de la clase Spiritu-p*/
  color: var(--rojo)
}

.Spiritu-a{
  border: solid var(--rojo) .125rem;
  color: var(--rojo);

  border-radius: 2rem;
  width: 10rem;
  text-align: center;
  font-weight: 600;

  padding: .5rem 1rem;
  margin: 2rem 0;
}
.Spiritu-a:hover{
  background-color: var(--rojo);
  color: var(--rosa);
  transition: all .5s ease;
}

.Spiritu-a:active{
transform: scale(0.8);
transition: all .5s ease;
}

.spiritu{ /*para que el padding solo afecte al segundo .Seo-foto*/
    padding-top: 2rem;
}


.Lightbox{
    width: 100%;
    min-height: 100vh;
    background-color: var(--escuro);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    position: fixed;
    top:0;
    left:0;

    gap: 2rem;
    padding: 2rem 0;

    opacity: 0; /*para cuando el lightbox esta inactivo no aparezca*/
    pointer-events: none; /*la opacidad no elimina el elemento, por eso seguiria siendo clicável*/

    z-index: 2; /*para que el .click-img no aparezca*/
}

.Lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
}
.Lightbox-img{
    width: 45rem;
    object-fit: contain; /*para que la imagen no deforme y ocupe todo el espacio*/
}
.Lightbox-btn{
    color: var(--rosa);
    font-family: 'Racing Sans One', cursive;
    font-size: 1.5rem;
    text-align: center;
  
    background-color: var(--rojo);
    padding: .3rem 1rem;
    border-radius: 2rem;
    margin-left: 1rem;
    cursor:pointer ;
}
.Lightbox-btn:hover{
    background-color: var(--rosa);
    color: var(--rojo);
    transition: all .5s ease;
}
.Lightbox-btn:active{
  transform: scale(0.8);
  transition: all .5s ease;
}




/*NAV PROYECTOS SEGUIENTES*/
.Work-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--rojo);
  padding-right: 1rem;
}
.Work-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    max-width: 50rem;
    margin: auto;
}
.Work-a{
  text-align: center;
  font-weight: 600;
  font-size: .75rem;

  border: solid .125rem var(--rojo);
  border-radius: 2rem;
  padding: .5rem 1rem;

  min-width: 8rem; /*ancho minimo para que todos tengan la misma medida*/

  color: var(--rojo);
}
.Work-a:hover{
    background-color: var(--rojo);
    color: var(--rosa);
    transition: all .5s ease;
}
.Work-a:active{
    transform: scale(0.8);
    transition: all .5s ease;
}





/*FOOTER*/
.Footer{
    width: 100%;
  }
.Footer-container{
    width: 100%;
    margin: auto;
  
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  
    padding: 2rem 0;
  }
  .Footer-social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .Social-ul{
    padding: 2rem 0;
  }
  .Social-li{
    color: var(--escuro);
    font-family: 'Racing Sans One', cursive;
    font-size: 2rem;
  
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  
    gap: .5rem;
  
    padding: 2rem 0;
  }
  .Social-li::before{
    content: "";
    width: 15rem;
    height: .125rem;
    background-color: var(--escuro);
  }
  .Social-li:hover{
    color: var(--rojo);
    transition: all .5s ease;
  }
  .Footer-p{
    padding: 4rem;
    color: var(--rosa);
    font-family: 'Racing Sans One', cursive;
    font-size: 2rem;
  
  }
  .Footer-a{
    color: var(--rosa);
    font-family: 'Racing Sans One', cursive;
    font-size: 1.5rem;
    text-align: center;
  
    background-color: var(--rojo);
    padding: .3rem 1rem;
    border-radius: 2rem;
  
    margin-right: 2rem;
  }
  .Footer-a:hover{
      background-color: var(--rosa);
      color: var(--rojo);
      transition: all .5s ease;
  }
  .Footer-a:active{
    transform: scale(0.8);
    transition: all .5s ease;
  }
  
  




/*---------KEYFRAMES--------*/

@keyframes clickrotate{

  50% {transform: rotate(-45deg); /* clickrotate es una animación para girar un elemento -45 grados cuando alcanza el 50% de su duración de la animación.*/
  }
}




  /*-------RESPOSIVE-------*/


  @media screen and (max-width:1024px){
    .Header-ul{
      font-size: 1rem;
      gap: 1rem;
    } 
  
    .Hero-p{
     max-width: 70%;
    }

    .Seo-grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat( 4 , 1fr);

      max-height: 350vh; /*para controlar los espacios entre los divs de la grid*/
  }

  .Click-img{
    left: 0;
    top: -1.5rem;
  }
  
    .Footer-container{
      display:flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
    }
  
    .Footer-p{
      padding: 0 0 4rem 2rem;
    }
    .Footer-a{
      margin: 0 0 0 2rem;
    }
  }
  
  
  
  @media screen and (max-width:960px){
    
    .Hero-h2{
      font-size: 13vw; /*para que el texto de adapte al ancho del dispositivo. No es usado antes porque seria muy grande*/
      line-height: 5rem;
  }
    .Work-ul{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;

    gap:1rem;
  }
  }  
  
    
  @media screen and (max-width:600px){
    .Seo-grid{
      max-height: 340vh; /*para controlar los espacios entre los divs de la grid*/
  }
  }



  @media screen and (max-width:480px){
  
    .Header-svg{  /*Para hacer el menu responsive, el svg de hamburguesa cambia de display none a block*/
      display: block;
      width: 2.5rem;
      height: 2.5rem;
    }
  
    .Header-ul{ 
      display: none;
    }
  
    .Header-ul.isActive{/*Para hacer el menu responsive, el nav solo aparece cuando se añade la clase isActive con Javascript*/
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    
        gap: 1rem;
    }
    .Seo-grid{
      max-height: 300vh; /*para controlar los espacios entre los divs de la grid*/
  }
  }

  
  
      
  
